<ion-header style=" --background: none; background-color:#F745F7;">
  <ion-toolbar style=" --background: none; background-color:#F745F7;">
    <ion-row>
      <ion-icon [routerLink]= "['/ux-menu']" style="cursor:pointer; color:white; height:25px;width:25px; margin-left: 10px;" name="chevron-back-circle"></ion-icon>
      <ion-title>Users</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="bacc">
  <ion-row>
    <ion-col>

      <ion-row>
        <ion-col>
          <div class="backImg1"  [routerLink]= "['/user-single']">
            <div class="userImg">
              <ion-icon name="person"></ion-icon>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="backImg2" [routerLink]= "['/user-single']">
            <div class="userImg">
              <ion-icon name="person"></ion-icon>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="backImg3"  [routerLink]= "['/user-single']">
            <div class="userImg">
              <ion-icon name="person"></ion-icon>
            </div>
          </div>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
</ion-content>
