<ion-header style=" --background: none; background-color:#F745F7;">
  <ion-toolbar style=" --background: none; background-color:#F745F7;">


<ion-row>
    <ion-icon [routerLink]= "['/users']" style="cursor:pointer; color:white; height:25px;width:25px; margin-left: 10px;" name="chevron-back-circle"></ion-icon>
    <ion-title>UserSingle</ion-title>

  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="bacc">
  <ion-row>
    <ion-col >

      <ion-card style="margin-top: 5%;  box-shadow: -1px 3px 11px 10px rgba(0,0,0,0.46);">

        <ion-card-header>
          <ion-card-title>
            <div class="background">
              <div class="userImg"> <ion-icon class="user" name="person"></ion-icon></div>
            </div>
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <h1 style="color:white">Uknown user</h1>
          <p>
            I am a very popular user, my names comes, well you now is uknown hehe, if you want to 
            know more about me well, sorry probably you wont, I am a very reservated and uknown prson hehe
            love to you all <3
          </p>
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-content>
